<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
	<!--<link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">-->

	
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "materialize/css/materialize.css" %}">
	<script type="text/javascript" src="{% static "jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "requests.js" %}"></script>
	<script type="text/javascript" src="{% static "materialize/js/materialize.js" %}"></script>
</head>
<body>
<header>
	
</header>
<footer>
	
</footer>
</body>
</html>